<!DOCTYPE html>
<html>
<head>
  <title>Subscriptions</title>
  <%= stylesheet_link_tag    "subscriptions/application", media: "all" %>
  <%= javascript_include_tag "subscriptions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
