<h1>Listing plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.name, plan %></td>
        <td><%= plan.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

